<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/dist/bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="/static/dist/bootstrap/4.5.3/js/bootstrap.min.js"></script>
    <script src="/static/dist/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="text-block">
            <div class="text-center">
                <input type ="radio" class ="month" checked="true" />当月
		<input type ="radio" class ="month" />前月
            </div>
	<div>
		<input type="button" value="登録" />
	</div>
            <div class="table-responsive px-5">
                <table class="table table-striped text-center">
                    <tr>
			<th>日付</th>
			<th>区分</th>
			<th>出勤時間</th>
                        <th>退勤時間</th>
                        <th>勤務内容</th>
                        <th>メモ</th>
                    </tr>
                    {% for value in values %}
                    <tr>
                        <td>{{value.date}}</td>
                        <td>{{value.category}}</td>
                        <td>{{value.inttime}}</td>
                        <td>{{value.outtime}}</td>
                        <td>{{value.content}}</td>
                        <td>{{value.memo}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</body>

</html>
